#Temporary files created by kicad
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*-backups*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*_gerbers
*.DS_Store*
*.lck

# Netlist files (exported from Eeschema)
*.net
